{% extends 'base.html' %} 
{% load static %}

{% block title%} Home {% endblock title %} 

{% block content %}
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
{% endblock content %}