{% extends 'base.html' %} 
{% load static %}

{% block title%} Home {% endblock title %} 

{% block content %}
<div class="col-22">
    <h3>Details</h3>
    <p>Cajun Roast chicken baked on a bed of potatoes and vegetables.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, green beans, yukon gold potatoes, sour cream (cultured cream), minced garlic, green onions, toasted garlic powder, roasted chicken stock base (chicken stock, roasted chicken stock, mirepoix stock (made of carrot, celery and onion stocks, dried chicken stock, salt, gelatin, water, white wine), unsalted butter, white pepper, cayenne pepper, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Juicy Grilled Pork Tenderloin marinated in red wine vinegar and roasted garlic potatoes.</p>
    <h3>Ingredients</h3>
    <p>pork tenderloin, cabernet sauvignon wine, garlic, (pasteurized milk and cream, skim milk, cheese culture), toasted onion powder, green onions, toasted garlic powder, thyme, smoked black pepper, black pepper, italian seasoning (marjoram, thyme, rosemary, savory, sage, oregano, basil), oregano, crushed red pepper flakes.  </p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Creamy Chicken Alfredo Pasta with pan-fried seasoned chicken and tender noodles.</p>
    <h3>Ingredients</h3>
    <p>chicken breast, broccoli, spinach, heavy cream, whole milk, onions, grated parmesan cheese ((parmesan cheese (pasteurized cow’s milk, cheese culture, salt, enzymes), roasted garlic oil (olive oil, garlic), olive oil, mirepoix concentrate, granulated garlic, toasted onion powder, sea salt, smoked black pepper (pepper, smoke flavor), oregano, dried basil, italian seasoning (marjoram, thyme, rosemary, savory, sage, oregano, basil)</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Grilled Chicken marinated in lemon, olive oil, garlic, and parsley, then baked. </p>
    <h3>Ingredients</h3>
    <p>chicken breast, broccoli, cauliflower, heavy cream, cream cheese (pasteurized milk and cream, cheese culture, salt, guar gum, carob bean gum, xanthan gum), olive oil, unsalted butter, capers (capers, water, vinegar, salt), whole milk, lemon juice, shredded parmesan cheese, calcium propionate (preservative)), sea salt, garlic, granulated garlic, parsley, black pepper, toasted garlic powder, xanthan gum, lemon powder (citric acid, natural lemon flavor)</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Shrimp smothered in spicy tomato salsa with a side of rice</p>
    <h3>Ingredients</h3>
    <p>shrimp, tomato sauce, broth, parsley, pimientos, hot sauce, onion salt and pepper, louisiana-style hot sauce, dried chicken stock, salt, gelatin, water, white wine)), sea salt, black pepper.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Roasted broccoli mixed with potatoes, spices, and rice </p>
    <h3>Ingredients</h3>
    <p>yellow potatoes,broccoli crown, olive oil, kosher salt, oregano, pinch crushed red pepper flakes, shredded parmesan, mexican rice, basil paste, salt and pepper.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Spiced Tomatos smothered over spiced rice roni</p>
    <h3>Ingredients</h3>
    <p>tomato, zucchini, red lentil fusilli (water, red lentil flour, potato starch, tapioca starch, whole egg, egg white, xanthan gum, salt), whole milk, onions, grated parmesan cheese, spanish rice, turkey, smoked paprika, oregano.</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Grilled Chicken seasnoned with italian herbs and roasted garlic oil. </p>
    <h3>Ingredients</h3>
    <p>chicken breast, russet potatoes, yellow sweet corn, cream cheese (pasteurized milk and cream, cheese culture, salt, guar gum, carob bean gum, xanthan gum), green onions, shredded medium white cheddar cheese, heavy cream, olive oil, grated parmesan cheese, rosemary powder, black pepper, smoked black pepper (pepper, smoke flavor), italian seasoning (marjoram, thyme, rosemary, savory, sage, oregano, basil).</p>
</div>
<div class="col-22">
    <h3>Details</h3>
    <p>Burrito-style bowl with a satisfying southwest flavor</p>
    <h3>Ingredients</h3>
    <p>shredded pork, black beans (prepared black beans, water, salt, and calcium chloride (firming agent)), yellow sweet corn, water, tomatoes, onions, garlic, long grain and wild rice blend, olive oil, shredded monterey jack cheese (pasteurized milk, cheese cultures, salt, enzymes), oregano, chili powder (chili peppers, paprika, salt, herbs, spices, garlic, oleoresin paprika (for color), and less than 2% silicon dioxide (to prevent caking)).</p>
</div>
{% endblock content %}